@charset "UTF-8";
#list_module {
  list-style: none; }

#list_module li {
  background-color: #E20074;
  border: none;
  color: white;
  padding: 12px 28px;
  width: 150px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: TeleFont-Medium;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px; }

#list_module li:hover {
  cursor: move; }

.list_testdata_content {
  margin-top: 20px;
  border: 1px solid #aaaaaa;
  background-color: #D0D0D0;
  -o-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

#list_testdata {
  width: 540px; }
  #list_testdata .list_testdata_content {
    min-height: 300px; }

#list_testdata ol {
  min-height: 250px;
  color: #000;
  list-style: none; }

#trash {
  text-align: center;
  background-color: #9d9d9d;
  border: 1px solid #868686;
  -o-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px; }

#trash.hovered {
  -o-box-shadow: 0px 0px 10px #777777;
  -moz-box-shadow: 0px 0px 10px #777777;
  -webkit-box-shadow: 0px 0px 10px #777777;
  box-shadow: 0px 0px 10px #777777; }

#trash p {
  padding: 20px 20px 20px 20px;
  color: white; }

.ui-draggable-dragging {
  background-color: #E20074;
  border: none;
  color: white;
  padding: 12px 28px;
  width: 150px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  list-style: none;
  font-family: TeleFont-Medium;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px; }

.list_testdata_content li {
  background-color: #E20074;
  border: none;
  color: white;
  padding: 12px 28px;
  width: 150px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  list-style: none;
  font-family: TeleFont-Medium;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px; }

.list_testdata_div {
  display: inline-block; }
  .list_testdata_div input {
    float: right;
    margin-top: 30px;
    margin-left: 10px; }
  .list_testdata_div li {
    float: left; }

/*¯\_(ツ)_/¯*/
