.navbar {
    margin-bottom: 0px;
    -moz-box-shadow: 1px 1px 6px #a0a0a0;
    -webkit-box-shadow: 1px 1px 6px #a0a0a0;
    -khtml-box-shadow: 1px 1px 6px #a0a0a0;
    box-shadow: 1px 1px 6px #a0a0a0;
    a {
        font-family: TeleFont-Thin;
        font-size: 20px;
    }
    .navbar-brand {
        font-family: TeleFont-Medium;
        font-size: 22px;
    }
    .fa {
        font-size: 18px;
    }
}
.showcase {
    //margin-top: 70px;
    textarea {
        resize: none;
    }
    h1 {
        color: $main-text-color;
        font-family: TeleFont-Medium;
        font-size: 45px;
    }
    h3 {
        color: $sec-text-color;
        ;
        font-family: TeleFont-Medium;
        font-size: 25px;
    }
}
.section-a-about {
    background: url(../img/showcase_1.jpeg) no-repeat;
    height: 500px;
    width: 2000px;
    padding: 30px 0;
    background-position: top;
    background-color: #dcdddf;
    .container {
        background: $main-element-color;
        opacity: 0.8;
        margin-bottom: 0;
        -moz-box-shadow: 1px 1px 6px #D0D0D0;
        -webkit-box-shadow: 1px 1px 6px #D0D0D0;
        -khtml-box-shadow: 1px 1px 6px #D0D0D0;
        box-shadow: 1px 1px 6px #D0D0D0;
        padding: 20px 30px 30px 30px;
    }
}
.overview-table {
    table {
        border: 1px solid $ter-element-color;
        thead {
            color: $sec-text-color;
            font-family: TeleFont-Medium;
            font-size: 16px;
            background-color: $main-color;
        }
    }
}
.section-b {
    .panel-heading h4 {
        color: $sec-text-color;
    }
}
.section-b-about {
    background: $main-color;
    color: $sec-text-color;
    padding: 30px 0;
    text-align: center;
    .fa {
        font-size: $icon-size;
    }
}
.section-c-about {
    background: #f7f7f7;
    .panel {
        margin-top: 70px;
        margin-bottom: 70px;
        h4 {
            font-family: TeleFont-Medium;
            font-size: 22px;
            color: $sec-text-color;
        }
    }
}
.btn {
    background-color: $main-color;
    border: none;
    color: $sec-text-color;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: TeleFont-Medium;
    font-size: 18px;
}
footer {
    padding: 20px 0;
    background-color: $main-color;
    color: $sec-text-color;
    -moz-box-shadow: 3px 1px 6px #a0a0a0;
    -webkit-box-shadow: 3px 1px 6px #a0a0a0;
    -khtml-box-shadow: 3px 1px 6px #a0a0a0;
    box-shadow: 3px 1px 6px #a0a0a0;
}
.tab-content {
    h3 {
        color: $main-color;
    }
}

#btn_testdata{
    margin-top: 70px;
    margin-bottom: 20px;
}
