@font-face { font-family: 'TeleFont-Bold';
             src: url('../fonts/Screen/TTF/TeleGroteskHeadline-Bold.ttf') format('truetype'); }
@font-face { font-family: 'TeleFont-Medium';
             src: url('../fonts/Screen/TTF/TeleGroteskScreen-Medium.ttf') format('truetype'); }
@font-face { font-family: 'TeleFont-MediumI';
             src: url('../fonts/Screen/TTF/TeleGroteskScreen-MediumItalic.ttf') format('truetype'); }
@font-face { font-family: 'TeleFont-Regular';
             src: url('../fonts/Print/TeleGroteskHeadline-Regular.ttf') format('truetype'); }
@font-face { font-family: 'TeleFont-RegularI';
             src: url('../fonts/Screen/TTF/TeleGroteskScreen-RegularItalic.ttf') format('truetype'); }
@font-face { font-family: 'TeleFont-Thin';
             src: url('../fonts/Screen/TTF/TeleGroteskScreen-Thin.ttf') format('truetype'); }
@font-face { font-family: 'TeleFont-Ultra';
             src: url('../fonts/Screen/TTF/TeleGroteskScreen-Ultra.ttf') format('truetype'); }
